[
    {
        "object.className": "ProtImportPdb",
        "object.id": "2",
        "object.label": "4ake",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputPdbData": 0,
        "pdbId": "4ake",
        "pdbFile": null
    },
    {
        "object.className": "ProDySelect",
        "object.id": "39",
        "object.label": "Sel_chainA_all",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "2",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "selection": "protein and chain A",
        "inputStructure": "2.outputPdb"
    },
    {
        "object.className": "ProDyANM",
        "object.id": "74",
        "object.label": "ANM_all",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "39",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfModes": 20,
        "cutoff": 8.0,
        "gamma": 1.0,
        "sparse": false,
        "kdtree": false,
        "collectivityThreshold": 0.15,
        "zeros": true,
        "turbo": true,
        "inputStructure": "39.outputStructure"
    },
    {
        "object.className": "ProDySelect",
        "object.id": "120",
        "object.label": "Sel_CA",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "39",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "selection": "name CA",
        "inputStructure": "39.outputStructure"
    },
    {
        "object.className": "ProDyANM",
        "object.id": "155",
        "object.label": "ANM_CA",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "120",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfModes": 20,
        "cutoff": 15.0,
        "gamma": 1.0,
        "sparse": false,
        "kdtree": false,
        "collectivityThreshold": 0.15,
        "zeros": true,
        "turbo": true,
        "inputStructure": "120.outputStructure"
    }
]
